name: anov-3d-monorepo
on:
  push:
    branches: [main]

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/
      - uses: pnpm/action-setup@v2.2.2
        with:
          version: 7
      - run: pnpm install --no-frozen-lockfile
      - run: pnpm build
        env:
          NODE_AUTH_TOKEN: ${{secrets.LEGO}}
